<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DigiVerifier Pdf</title>
    <meta charset="UTF-8"/>
    <link th:href="${cssPath + '/common.css'}" rel="stylesheet"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Calibri:400,700,400,700&display=swap}" rel="stylesheet"/>
    <style>
        .table-st {
            clear: both;
            width: 100%;
            border: 1px solid #808080;
            border-collapse: collapse;
        }
          .table-cell {
            overflow: auto;
            word-wrap: break-word;
        }
        .table-st tr {
            border: 1px solid #808080;
            border-collapse: collapse;
        }
        .table-st tr td {
            border: 1px solid #808080;
            border-collapse: collapse;
            padding: 10px;
        }
        .table-st tr td span {
            margin-left: 5px;
        }
        .table-container {
            page-break-inside: avoid; /* Prevent table from splitting across pages */
        }
        .text-center {
            text-align: center;
        }
        .text-left {
            text-align: left;
        }
        .blue-bg {
            background-color: #808080;
        }
        .grey-bg {
            background-color: rgba(49, 119, 235, 0.8);
        }
        .black-heading {
            color: black;
            font-size: 15px !important;
            font-weight: 700;
            font-family: 'Calibri';
        }
        .white-heading {
			color: #FFF;
            font-family:Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 15pt;
        }
        .black-text {
            color: black;
            font-family:Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 13pt;
        }
        .grey-text {
            color: black;
            font-family:Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12pt;
        }
        .white-text {
            color: #fff;
            font-weight: 700 !important;;
            font-size: 13px;
            font-family: 'Calibri';
        }
        .line-break {
            display: block;
            height: 15px;
        }
        .green-status {
            margin: 0px;
            color: #008000;
            font-weight: 700;
            font-family: 'Calibri';
            font-size: 13px;
        }
        .amber-status {
            margin: 0px;
            color: #ffA500;
            font-weight: 700;
            font-family: 'Calibri';
            font-size: 13px;
        }
        .red-status {
            margin: 0px;
            color: #ff0000;
            font-weight: 700;
            font-family: 'Calibri';
            font-size: 13px;
        }
        .invalid-status {
            margin: 0px;
            color: #000000;
            font-weight: 700;
            font-family: 'Calibri';
            font-size: 13px;
        }
        .black-box {
            border: 1px solid black;
        }
        .row {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .color-container {
            display: flex;
            align-items: center;
            margin: 0 10px;
        }
        .box {
            width: 10px;
            height: 10px;
            margin-right: 5px;
            background-color: transparent; /* Set the desired background color */
            display: inline-block;
        }
        .red {
            background-color: red;
        }
        .green {
            background-color: green;
        }
        .amber {
            background-color: #ffA500;;
        }
        .yellow {
            background-color: yellow;
        }
    </style>
</head>
<body style="background-color:#fff;padding:0px;margin:0px;position:relative;font-family: 'Calibri', sans-serif;color:#666666;">
<section class="wrapper" style="width:100%;margin:0 auto;height:80%;">

    <!--  EMPLOYMENT checks with proofs starts-->
    <div th:each="vendorUploadChecks : ${root.vendorProofDetails}">
        <div th:each="vendorsourcename:${vendorUploadChecks.vendorAttirbuteValue}">
            <div th:if="${#strings.contains(vendorsourcename.sourceName, 'EMPLOYMENT')}">
                <div class="table-container"
                     th:if="${not #lists.isEmpty(vendorsourcename.vendorAttirbuteValue)}">
                    <table class="table-st employer-name-verification" border="0">
                        <div class="text-center">
                            <div>
                                <br>
                                <span style="color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; font-size: 14pt;"
                                      th:text="${#strings.containsIgnoreCase(vendorsourcename.sourceName, 'EDUCATION') ?
                                              #strings.substring(vendorsourcename.sourceName.replace('EDUCATION', 'EDUCATION CHECK'), 0, #strings.indexOf(vendorsourcename.sourceName.replace('EDUCATION', 'EDUCATION CHECK'), 'CHECK') + 5) :
                                              vendorsourcename.sourceName}"
                                      th:if="${not #lists.isEmpty(vendorsourcename.vendorAttirbuteValue)}"></span>
                                <span class="line-break"></span>
                                <tr th:if="${not #lists.isEmpty(vendorsourcename.vendorAttirbuteValue)}">
                                    <td class="grey-bg text-center white-heading"
                                        style="width: 30%; padding: 5px;">
                                        Particular
                                    </td>
                                    <td class="grey-bg text-center white-heading" colspan="2"
                                        style="width: 70%; padding: 5px;">
                                        Remarks
                                    </td>
                                </tr>
                                <tr>
                                    <td class="black-text text-left" style="width: 30%; padding: 5px;">
                                        Check Status
                                    </td>
                                    <td class="grey-bg text-center white-heading" colspan="2"
                                        style="width: 70%; padding: 5px;"   th:style="${vendorsourcename.checkStatus.equalsIgnoreCase('CLEAR') ? 'background-color: #74B72E'
										        : vendorsourcename.checkStatus.equalsIgnoreCase('UNABLETOVERIFY') ? 'background-color: orange'
										        : vendorsourcename.checkStatus.equalsIgnoreCase('INSUFFICIENCY') ? 'background-color: yellow'
										        : (vendorsourcename.checkStatus.equalsIgnoreCase('MINORDISCREPANCY') or vendorsourcename.checkStatus.equalsIgnoreCase('MAJORDISCREPANCY')) ? 'background-color: rgba(226, 29, 68)'
										        : ''}">

                                          <span class="black-text" th:text="${vendorsourcename.checkStatus.equalsIgnoreCase('CLEAR') ? 'GREEN'
										        : vendorsourcename.checkStatus.equalsIgnoreCase('UNABLETOVERIFY') ? 'AMBER'
										        : vendorsourcename.checkStatus.equalsIgnoreCase('INSUFFICIENCY') ? 'YELLOW'
										        : (vendorsourcename.checkStatus.equalsIgnoreCase('MINORDISCREPANCY') or vendorsourcename.checkStatus.equalsIgnoreCase('MAJORDISCREPANCY')) ? 'RED'
										        : vendorsourcename.checkStatus}">
										    </span>
                                    </td>
                                </tr>
                                <th:block>
                                    <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                        <tr th:if="${basicData.contains('Employers Name')}">
                                            <td class="black-text text-left" style="padding: 3px;">Employers Name
                                            </td>
                                            <td class="black-text text-left" colspan="2" style="padding: 3px;"
                                                th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                            </td>
                                        </tr>
                                    </div>
                                    <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                        <tr th:if="${basicData.contains('Employers Address')}">
                                            <td class="black-text text-left" style="padding: 3px;">Employers
                                                Address
                                            </td>
                                            <td class="grey-text text-left" colspan="2" style="padding: 5px;"
                                                th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                            </td>
                                        </tr>
                                    </div>
                                    <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                        <tr th:if="${basicData.contains('Name of Respondent & Contact No')}">
                                            <td class="black-text text-left" style="padding: 3px;">Name of
                                                Respondent
                                                & Contact No
                                            </td>
                                            <td class="grey-text text-left" colspan="2" style="padding: 3px;"
                                                th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                            </td>
                                        </tr>
                                    </div>
                                    <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                        <tr th:if="${basicData.contains('Designation of Respondent')}">
                                            <td class="black-text text-left" style="padding: 3px;">Designation of
                                                Respondent
                                            </td>
                                            <td class="grey-text text-left" colspan="2" style="padding: 3px;"
                                                th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                            </td>
                                        </tr>
                                    </div>
                                    <tr>
                                        <td class="black-text text-left" style="padding: 3px;">Comments of the
                                            Respondent in terms of
                                        </td>
                                        <td class="black-text text-left" style="padding: 3px;">Candidate's Input</td>
                                        <td class="black-text text-left" style="padding: 3px;">Output</td>
                                    </tr>
                                    <tr>
                                        <td class="black-text text-left" style="padding: 3px;">a) Period of
                                            Employment
                                        </td>
                                        <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                            <td th:if="${basicData.contains('a) Period of Employment (Start date(dd-mm-yyyy) - End date(dd-mm-yyyy) - Candidate')}"
                                                class="grey-text text-left" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </div>
                                        <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                            <td th:if="${basicData.contains('b) Period of Employment (Start date(dd-mm-yyyy) - End date(dd-mm-yyyy) - HR Feedback')}"
                                                class="grey-text text-left" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <td class="black-text text-left" style="padding: 3px;">b) Last
                                            Designation of
                                            Candidate
                                        </td>
                                        <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                            <td th:if="${basicData.contains('c) Last Designation of Candidate - Candidate')}"
                                                class="grey-text text-left" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </div>
                                        <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                            <td th:if="${basicData.contains('d) Last Designation of Candidate - HR Feedback')}"
                                                class="grey-text text-left" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </div>
                                    </tr>
                                    <tr>
                                        <td class="black-text text-left" style="padding: 3px;">c) Last Drawn
                                            Salary
                                        </td>
                                        <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                            <td th:if="${basicData.contains('e) Last Drawn Salary - Candidate')}"
                                                class="grey-text text-left" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </div>
                                        <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                            <td th:if="${basicData.contains('f) Last Drawn Salary - HR Feedback')}"
                                                class="grey-text text-left" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </div>
                                    </tr>
                                    <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                        <tr th:if="${basicData.contains('g) Reporting Authority')}">
                                            <td class="black-text text-left" style="padding: 3px;">d) Reporting
                                                Authority
                                            </td>
                                            <td class="grey-text text-left" colspan="2" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                    <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                        <tr th:if="${basicData.contains('h) Reason for Leaving')}">
                                            <td class="black-text text-left" style="padding: 3px;">e) Reason for
                                                Leaving
                                            </td>
                                            <td class="grey-text text-left" colspan="2" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>

                                    <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                        <tr th:if="${basicData.contains('Eligible for Rehire')}">
                                            <td class="black-text text-left" style="padding: 3px;">Eligible for Rehire
                                            </td>
                                            <td class="grey-text text-left" colspan="2" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                    <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                        <tr th:if="${basicData.contains('Mode of Verification')}">
                                            <td class="black-text text-left" style="padding: 3px;">Mode of
                                                Verification
                                            </td>
                                            <td class="grey-text text-left" colspan="2" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                    <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                        <tr th:if="${basicData.contains('Remarks')}">
                                            <td class="black-text text-left" style="padding: 3px;">Remarks</td>
                                            <td class="grey-text text-left" colspan="2" style="padding: 3px;">
                                                <div class="grey-text text-left" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                    <div th:each="basicData, row : ${vendorsourcename.vendorAttirbuteValue}">
                                        <tr th:if="${basicData.contains('Employer Authenticity')}">
                                            <td class="black-text text-left" style="padding: 3px;">Employer
                                                Authenticity
                                            </td>
                                            <td class="grey-text text-left" colspan="2" style="padding: 3px;">
                                                <div class="grey-text text-left" style="padding: 3px;" colspan="2"
                                                     th:with="splitValue=${#strings.listSplit(basicData, '=')}">
                                                <span class="grey-text text-left" style="padding: 3px;"
                                                      th:if="${splitValue.size() &gt;= 1}"
                                                      th:text="${splitValue[1]}">
                                                </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </table>
                    <br>
                    <!--        start of documents -->
                    <div class="text-center" th:each="vendorsourcename:${vendorUploadChecks.vendorAttirbuteValue}"
                         th:if="${vendorsourcename != null}">
                        <div th:if="${#strings.contains(vendorsourcename.sourceName, 'EMPLOYMENT')}">
                            <div th:each="encodedImageMap : ${root.pdfByes}">
                                <div th:each="entry : ${encodedImageMap}">
        <span th:if="${#strings.equalsIgnoreCase(#strings.trim(vendorsourcename.sourceName), #strings.trim(entry.key))}">
            <span style="color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; font-size: 14pt;">
					<th:block th:each="value : ${entry.value}">
                        <img th:src="'data:image/png;base64,' + ${value}" alt="PDF Image"
                             style="width: 600px; height: auto;">
                    </th:block>
            </span>
        </span>
                                    <span th:unless="${#strings.equalsIgnoreCase(#strings.trim(vendorsourcename.sourceName), #strings.trim(entry.key))}">
        </span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--        end  of documents -->
                </div>
            </div>
        </div>
    </div>
    <!-- EMPLOYMENT   checks with proofs ends-->
</section>
</body>
</html>